.modal
  display: block
  position: fixed
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $c-sec
  height: 550px
  width: 300px
  margin: auto
  border: $border
  border-radius: $rad
  box-sizing: border-box
  box-shadow: $outer-sh
  text-align: center
  padding: $p-pri

.backdrop
  display: block
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.4)

.newReadingInputs__controls
  margin-top: $air
  text-align: center

.newReadingBtn
  width: 100px
  box-sizing: border-box
  cursor: pointer
  &__save
    background-color: $green
    &:hover
      cursor: pointer
      transition: background-color 0.5s ease-out
      background-color: $green-light
      
  &__cancel
    background-color: $red
    color: white
    margin-left: $m-sml
    &:hover
      cursor: pointer
      transition: background-color 0.5s ease-out
      background-color: $red-light
