@import variables

body
  background-color: $c-pri
  font-family: Verdana, sans-serif
  margin: 0
  height: 100%
  width: 100%

header
  background-color: $c-sec
  height: 60px
  text-align: center
  padding-top: 10px
  border-bottom: $border
  margin-bottom: $air

h1
  margin: 0
  color: $red

button
  height: 35px
  border: none
  box-sizing: border-box

.main-app
  background-color: $c-pri
  width: 100%
  height: 700px
  position: relative
  &__nav
    height: 60px
    width: 100%
    background-color: $c-sec
    box-sizing: border-box
    position: absolute
    bottom: 0
    border-top: $border
    margin-top: $air

.readings
  background-color: $c-sec
  height: 610px
  max-width: 500px
  margin: auto
  border: $border
  border-radius: $rad
  box-sizing: border-box
  box-shadow: $outer-sh
  text-align: center
  padding: $p-pri
  &__display
    height: 420px
    box-sizing: border-box
    border: $light-border
    border-radius: $rad
  &__button
    background-color: $red
    width: 200px
    font-weight: 600
    color: white
    border-radius: $rad-s
    margin-top: $air

.module-heading
  margin-top: 0
  margin-bottom: air
  font-weight: 500
  